<div class="container">
    <div class="row">
        <div class="col-lg-12 shadow-lg p-3 mb-5">
            <div class="card border-primary">
                <div class="card-header bg-danger text-white text-center">Error</div>
                <div class="card-body text-primary">
                    <form action="/" method="get">                    
                      <div class="mb-3">
                        <label for="user" class="form-label text-center">El mail Ingresado no se encuentra en nuestra base de datos corrobore los datos e intentelo nuevamente</label>                        
                    </div>                  
                </div>
                <div class="card-footer bg-transparent border-primary text-center">
                    <a href="/recovery" type="button" class="btn btn-danger">Volver</a>                    
                </div>
                </form>
            </div>
        </div>
    </div>
</div>