<div class="container">
    <div class="row">
        <div class="col-lg-12 shadow-lg p-3 mb-5">
            <div class="card border-primary">
                <div class="card-header bg-success text-white text-center">Exitoso</div>
                <div class="card-body text-primary">
                    <form action="/" method="get">                    
                      <div class="mb-3">
                        <label for="user" class="form-label text-center">Le enviamos un Email con un link de reestablecimiento de contraseña</label>                        
                    </div>                  
                </div>
                <div class="card-footer bg-transparent border-primary text-center">
                    <a href="/" type="button" class="btn btn-success">Aceptar</a>                    
                </div>
                </form>
            </div>
        </div>
    </div>
</div>